<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".ui.FaceCaptureActivity"
            android:exported="false"
            android:label="@string/title_activity_face_capture"
            android:theme="@style/Theme.FaceCapture" />
    </application>

</manifest>